body
{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(253, 253, 253);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: blueviolet;
    box-shadow: 0px 2px 20px 0px black;
    color: rgb(202, 153, 248);
    font-weight: bold;
    font-size: 20px;
    margin: 0%;
    padding: 1.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 5px solid rgb(26, 29, 175);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
